# `snopy` - basic usage with a context manager ([PEP-343](https://peps.python.org/pep-0343/))

## Imports

In [1]:
import os
from snopy import SnowflakeConnector

## Credentials

In [2]:
sf_username=os.environ['SNOWFLAKE_USER']
sf_password=os.environ['SNOWFLAKE_PASSWORD']
sf_account=os.environ['SNOWFLAKE_ACCOUNT']

## Connecting to your Snowflake account with a constructor

In [3]:
sc = SnowflakeConnector(
    username=sf_username,
    password=sf_password,
    account=sf_account,
    warehouse='COMPUTE_WH',
    database='SNOWFLAKE_SAMPLE_DATA',
    schema='TPCH_SF100'
)

In [4]:
sc.connected

True

In [5]:
sc.query_pd('SELECT * FROM CUSTOMER LIMIT 3').head()

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
0,1937281,Customer#001937281,6xPBL5fuEyQI83U3GVABqEWiKi5PI,7,17-391-174-3874,4201.49,BUILDING,nts are carefully blithely pending ideas. slyl...
1,1937282,Customer#001937282,ZCtUeLyCikiejeAKu8qeV,15,25-471-321-8939,3520.51,BUILDING,"g to the final, silent escapades lose fluffily..."
2,1937283,Customer#001937283,aNOsc2OPyxLj4n0p,12,22-351-208-2270,9137.50,HOUSEHOLD,waters sleep slyly special deposits. platelet...

In [6]:
sc.close_connection()

In [7]:
sc.connected

False

## Connecting to your Snowflake account with a context manager

In [8]:
# e.g., to quickly fetch the data for further pandas processing
with SnowflakeConnector(
    username=sf_username,
    password=sf_password,
    account=sf_account,
    warehouse='COMPUTE_WH',
    database='SNOWFLAKE_SAMPLE_DATA',
    schema='TPCH_SF100'
) as sc_cm:
    data_sf = sc_cm.query_pd('SELECT * FROM CUSTOMER LIMIT 3')

In [9]:
data_sf.head()

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
0,1937281,Customer#001937281,6xPBL5fuEyQI83U3GVABqEWiKi5PI,7,17-391-174-3874,4201.49,BUILDING,nts are carefully blithely pending ideas. slyl...
1,1937282,Customer#001937282,ZCtUeLyCikiejeAKu8qeV,15,25-471-321-8939,3520.51,BUILDING,"g to the final, silent escapades lose fluffily..."
2,1937283,Customer#001937283,aNOsc2OPyxLj4n0p,12,22-351-208-2270,9137.50,HOUSEHOLD,waters sleep slyly special deposits. platelet...

In [10]:
sc_cm.connected

False